body {
  background-color: #f7f8f9;
  font-family: "Gill Sans", sans-serif;
}

nav {
  justify-content: space-around;
  display: flex;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.destination-title {
  background-color: #dae5de;
  border-radius: 20px;
}

.destination-title h1 {
  margin-top: 10px;

  text-align: center;
  font-variant: small-caps slashed-zero;
  font-size: 5em;
}

.content img[alt="Cuidad de Mexico"] {
  float: right;
  margin: 10px;
  height: 200px;
  width: 500px;
}

.content img[alt="mexico city map overview"] {
  float: left;
  margin: 10px;
  height: 300px;
  width: 500px;
}
