body {
  font-size: 16px;
  color: #333333;
  background-color: aliceblue;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

nav a {
  font-weight: bold;
  font-size: 1.3em;
  color: red;
}

.content {
  text-align: center;
  font-size: 1.2em;
}

.footer {
  margin-top: 30px;
}

.footer a {
  color: pink;
}

.profile-image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.project-list h3 span {
  font-size: 85%;
}

.education-list span {
  font-weight: bold;
}
